/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar,
.header,
.footer {
    background-color: #1f2937;
    font-size: 18px;
    font-weight: 700;
    color: #e5e7eb;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 12px 120px;
}

.right-links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
}

.link:hover {
    color: #a8dadc;
}

.logo-home img {
    max-width: 40px;
    height: auto;
    margin-right: 12px;
}

.header {
    padding: 50px 120px;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 50%;
    height: 271px;
    object-fit: cover;
    flex-shrink: 0;
}

.intro-text {
    margin-right: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.intro-text .title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.intro-text p {
    font-weight: 300;
    line-height: 1.2em;
}

.button-signup {
    display: inline-block;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    padding: 0.7em 1.8em;
    text-align: center;
    align-self: flex-start;
    width: 65px;
    transition: background-color 200ms ease-in-out, cursor 200ms ease-in-out;
}

.button-signup:hover {
    background-color: #4c8cf3;
    cursor: pointer;
}