/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar,
.header,
.footer {
    background-color: #1f2937;
    font-size: 18px;
    font-weight: 700;
    color: #e5e7eb;
    font-family: 'Roboto', monospace;
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 12px 10%;
    position: sticky;
    top: 0;
    min-width: 376px;
}

.right-links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
}

.link:hover {
    color: #a8dadc;
}

.logo-home img {
    max-width: 40px;
    height: auto;
    margin-right: 12px;
}

.header {
    padding: 50px 10%;
    justify-content: space-between;
    align-items: center;
    min-width: 376px;
}

.header img {
    width: 50%;
    height: 271px;
    object-fit: cover;
    flex-shrink: 0;
}

.intro-text {
    margin-right: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.intro-text .title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.intro-text p {
    font-weight: 300;
    line-height: 1.2em;
}

.button-signup {
    display: inline-block;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    padding: 0.7em 1.8em;
    text-align: center;
    align-self: flex-start;
    width: 65px;
    transition: background-color 200ms ease-in-out, cursor 200ms ease-in-out;
}

.button-signup:hover,
.prompt-button:hover {
    background-color: #4c8cf3;
    cursor: pointer;
}

main {
    font-family: 'Motserrat', monospace;
}

main .subtitle {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 1.5em 120px;
}

.news-events {
    padding: 50px 20% 100px 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 376px;
    gap: 15px;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    width: 200px;
    height: auto;
    transition: transform 200ms ease-in-out;
}

.box:hover {
    transform: scale(1.2);
}

.box>a>img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #1f2937;
    border-radius: 10%;
}

main a {
    color: #1f2937;
}

.quotation {
    background-color: #d2d8e6;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2em;
    padding: 100px 20% 100px 20%;
}

.quote-author {
    text-align: end;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
}

.footer {
    justify-content: center;
    padding: 30px 0;
}

.prompt-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    margin: 5.5em auto;
    height: auto;
    max-width: 1198px;
    padding: 3.4em 7.8em;
    color: #e5e7eb;
    font-size: 18px;
    line-height: 1.2em;
    gap: 2.8em;
}

.prompt-header {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 12px;
}

.prompt-button a {
    color: #e5e7eb;
    font-size: 24px;
    font-weight: 600;
}

.prompt-button {
    border: 3px solid #e5e7eb;
    border-radius: 10px;
    padding: 0.7em 2em;
    transition: background-color 200ms ease-in-out;
    min-width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1410px) {
    .news-events {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .box {
        flex-basis: 33%;
    }

    .quote-text {
        font-size: 24px;
    }

    .quote-author {
        font-size: 14px;
    }

    .prompt-container {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 1190px) {
        .prompt-container {
            font-size: 14px;
        }

        .prompt-button a {
            font-size: 18px;
        }

        .prompt-header {
            font-size: 18px;
        }

    }


    @media (max-width: 914px) {
        .header img {
            display: none;
        }

        .navbar {
            padding: 12px 5rem;
        }

        .header {
            padding-left: 5rem;
            padding-right: 5rem;
        }

        .box {
            flex-basis: 100%;
            flex-direction: row;
        }

        .box>p {
            align-self: center;
        }

    }
}